<html>
  <head>
    <title>Bienvenue</title>
  </head>
  <body>
  <div class="home">
    <p>Bienvenue sur LE site. Follow the (tired) White Rabit...</p>
    <a href=<%= new_path %>>Inscris-toi ici</a>
  </div>  
  </body>
</html>